<?xml version="1.0" encoding="UTF-8"?>
<beans  default-lazy-init="false"   xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--Dependent Spring Bean cfg -->

	<bean id="dt" class="java.util.Date" />

	<!--Target Spring Bean cfg -->
	<bean id="wmg" class="com.surya.beans.WishMessageGenerator" scope="singleton" lazy-init="default">
		<property name="date" ref="dt" />
	</bean>

	<!-- Target Spring Bean cfg 
	<bean id="wmg1" class="com.surya.beans.WishMessageGenerator">
		<property name="date" ref="dt" />
	</bean>
       -->
       
	<!-- 
	<bean id="p1" class="com.surya.beans.Printer"/>
	<bean id="p2" class="com.surya.beans.Printer"/>
	 -->
	<bean id="p1" class="com.surya.beans.Printer" scope="prototype" factory-method="getInstance"/>
	

</beans>